# Data Science Tools and Ecosystem

Jupyter notebook is originated as ipython which is open source it records data science experiments.

**Objecives**
- Data Science Languages
- Data Science Libraries
- Data Science Tools
- Arithmetic Expressions

Some of the popular languages that Data Scientists use are:
1. python
2. julia
3. R

Some of the commonly used libraries used by Data Scientists include:
1. Numpy
2. Pandas
3. Matplotlib
4. scikit-learn
5. Tensorflow

| Data Science Tools |
|--------------------|
| MySQL |
| Hadoop |
| Git and GitHUb |

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [6]:
#This will convert 200 minutes to hours by diving by 60
mins = 200
hours = mins/60
hours

3.3333333333333335

## Author
Afzar